<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="true">
  
  <group>
  <run>
  <include name ="smoke" ></include>
  </run>
  </group>
  
    <classes>
      <class name="ToLearnBatchExecution.Flipkart"/>
      <class name="ToLearnBatchExecution.Ajio"/>
      <class name="ToLearnBatchExecution.Amazon"/>
      <class name="ToLearnBatchExecution.Meesho"/>
      <class name="ToLearnBatchExecution.Snapdeal"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
